h3 {
  text-align: center;
  text-decoration: underline;
}

.skills {
  color: green;
}

.ol-style {
  color: black;
  text-align: center;
  list-style-type: upper-roman;
}

.p-style {
  color: rgb(109, 121, 3);
  text-align: right;
  font-family: "Courier New", Courier, monospace;
}
